@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffddd3;
}

.content-wrapper {
  padding-left: 40px;
  padding-right: 40px;
  margin: 50px 0;
  margin-left: auto;
  margin-right: auto;
}
.progress-bar .CircularProgressbar-path {
  stroke-width: 3px; /* Imposta lo spessore desiderato */
}

@media (max-width: 640px) {
  .progress-bar {
    position: static;
    transform: none;
  }
  .container-timerbutton {
    margin-top: 0;
  }
}
