@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-wrapper {
  padding: 30px 40px;
  /* margin: 50px 0;
  margin-left: auto;
  margin-right: auto; */
}

.luminous-section {
  box-shadow: 0 0 100px 5px rgba(255, 255, 255, 0.5);
}

.progress-bar .CircularProgressbar-path {
  stroke-width: 3px; /* Imposta lo spessore desiderato */
}

.progress-bar {
  width: auto !important;
  min-width: 0 !important;
  vertical-align: middle;
  margin: 0 auto;

  border: 2px solid black;
  position: absolute;
  top: 345px !important;
}

@media (max-width: 980px) {
  .progress-bar {
    width: 300px !important;
    height: 300px;
    top: 400px !important;
  }
}

@media (max-width: 640px) {
  .progress-bar {
    position: static;
    transform: none;
    vertical-align: middle;
    margin: 0 auto;
    width: 290px !important;
  }
  .container-timerbutton {
    margin-top: 0;
  }
  .button-template {
    width: 90px;
    height: 90px;
    margin: 20px 0;
  }
  .logo {
    width: 150px;
  }
  .logo-dark {
    width: 150px;
  }
  .section-home {
    padding: 0;
  }
}
input[type="range"] {
  -webkit-appearance: none;
  position: relative;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 7px;

  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

input[type="range"]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 26px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); /* Applica un effetto di sfocatura */
  z-index: 40; /* Assicura che l'overlay sia sopra tutti gli altri elementi, tranne l'alert */
}

/* animazione della luna */

.moon-loading {
  -webkit-animation: spin-counter 5s linear infinite;
  -moz-animation: spin-counter 5s linear infinite;
  animation: spin-counter 5s linear infinite;
}

@-webkit-keyframes spin-counter {
  0% {
    -webkit-transform: rotate(0deg); /* Parte dall'inizio */
  }
  100% {
    -webkit-transform: rotate(
      180deg
    ); /* Ruota di 180 gradi in senso antiorario */
  }
}
@-moz-keyframes spin-counter {
  0% {
    -webkit-transform: rotate(0deg); /* Parte dall'inizio */
  }
  100% {
    -webkit-transform: rotate(
      180deg
    ); /* Ruota di 180 gradi in senso antiorario */
  }
}
@keyframes spin-counter {
  0% {
    -webkit-transform: rotate(0deg); /* Parte dall'inizio */
  }
  100% {
    -webkit-transform: rotate(
      180deg
    ); /* Ruota di 180 gradi in senso antiorario */
  }
}

/* animazione del sole */
.sun-loading {
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
  }
}
